<p id="notice"> <%= notice %> </p>

<h1>Daftar Mobil</h1>

<%= link_to 'Masukkan Data', adm_cars_form_insert_path %>

<table border="1">
	<thead>
		<th>Nama</th>
		<th>Brand</th>
		<th>Description</th>
		<th>Harga</th>
		<th colspan="3"></th>
	</thead>
	<tbody>
		<% @cars.each do |car| %>
		<tr>
			<td> <%= car.name %> </td>
			<td> <%= car.brand %> </td>
			<td> <%= car.description %> </td>
			<td> <%= car.harga %> </td>
			<td> <%= link_to 'Edit', 'cars/form_update/'+car.id.to_s %> </td>
			<td> <%= link_to 'Hapus', 'cars/hapus/'+car.id.to_s, method: :delete, data: {confirm: 'Apakah yakin ingin menghapus?' } %> </td>
		</tr>
		<% end %>
	</tbody>
</table>